<!--content that goes into body-->

<!--starting with a nav item-->
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Covid Care</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">About us</a></li>
        <li><a href="collapsible.html">Donate</a></li>
        <li><a href="mobile.html">Contact us</a></li>
      </ul>
    </div>
  </nav>
</div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Home</a></li>
        <li><a href="badges.html">About us</a></li>
        <li><a href="collapsible.html">Donate</a></li>
        <li><a href="mobile.html">Contact us</a></li>
  </ul>
          
<!--nav ends-->

<!--home section-->
<section>
  <div class="home">
    <div class="home-text">
      <button class="home-donate">GET STARTED</button>
    </div>
  </div>
</section>
<!--home section ends-->

<!--about us section-->
<section>
  <div class="about-us">
    <div class="about-row">
      <div class="about-column about-text" >
           Narayan Seva Sansthan (NSS) has taken a pledge to help the families struck by the pandemic by offering food and medical services in this time of distress.
         People from all across the country are coming forward to help and we are not far behind.
      </div>
      <div class="about-column">
         <div class="about-column-right">
           
         </div>
      </div>
    </div>
  </div>
</section>
<!--about us section end-->

<!--donate section-->
<section>
  <div class="donate-section">
    <div class="donate-main">
      Narayan Seva Sansthan (NSS) has
      
        <button class="donate-button" id="razorpay-donate-btn">
          DONATE NOW
       </button>
    
    </div>
  </div>
</section>
<!--donate section edns-->

<!--contact section-->
<section>
  <div class="contact-us">
    <div class="contact-row">
      <div class="contact-column contact-column-left" >
        
      </div>
      <div class="contact-column">
         <div class="contact-column-text">
           Narayan Seva Sansthan (NSS) has taken a pledge to help the families struck by the pandemic by offering food and medical services in this time of distress.
         People from all across the country are coming forward to help and we are not far behind.
         </div>
      </div>
    </div>
  </div>
</section>
<!--contact sections ends-->
<footer>
  Made with love by Aritri Basu copy 2021
</footer>