<div class="success-msg">
     PAYMENT SUCCESSFUL! You will be redirected to the home page.
</div>
<div class="success">
   <img src="/images/success-gif.gif" alt="success gif" id="success-gif">
</div>
<script type="text/javascript">
    function Redirect() 
    {  
        window.location="http://localhost:3000"; 
    } 
    setTimeout('Redirect()', 4000);   
</script>