**{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/****home styles******/
section .home{
    height: 100vh;
    background-image:url(/images/every-bit-matters.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
section .home .home-text{
    margin-left:8%;
    padding-top: 41%;
}
.home-donate a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 500;
}
.home-donate{
    background-color: #f03e44;
    height: 4em;
    width: 10em;
    border-radius: 8px;
}
.home-donate:hover{
    background-color: #ee6e73;
}
/****home styles end******/

/****about us styles******/
section .about-us{
    height: 100vh;
    background-color: bisque;
}
/* Create two equal columns that floats next to each other */
.about-column {
    float: left;
    width: 50%;
    padding: 10px;
}
.about-text{
    padding-top: 17%;
    font-size:26px;
    font-style: italic;
}
  /* Clear floats after the columns */
.about-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .about-column {
      width: 100%;
    }
}

.about-column-right{
    height: 98vh;
    background-image: url(/images/covid-relief.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.highlight-color{
    color: #ee6e73;
}
/****about us styles end******/

/****donate styles******/
section .donate-section{
    height: 100vh;
    background-color: #f5d2d3;
}
.donate-main {
    text-align: center;
    padding-top: 20%;
}
.donate-text{
    font-size: 28px;
    font-style:italic;
}
.donate-button{
    background-color: bisque;
    color: #ee6e73;
    font-size: 24px;
    font-weight: 600;
    height: 3em;
    width: 10em;
    border: 1px solid black;
    border-radius: 12px;
}
.donate-button:hover{
    background-color: rgba(248, 222, 191, 0.795);
}
/****donate styles end******/

/****contact styles******/
section .contact-us{
    height: 95vh;
    background-color: bisque;
}

/* Create two equal columns that floats next to each other */
.contact-column {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-left: 10%;
}
  
  /* Clear floats after the columns */
.contact-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .contact-column {
      width: 100%;
    }
}

.contact-column-left{
    height: 95vh;
    background-image: url(/images/covid-relief.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#contact-us-head{
    margin-top: 8%;
    color: #ee6e73;
}
#contact-form{
 width:70%;
}
#contact-intro{
    font-style: italic;
}
#contact-us-submit{
    width: 100%;
    background-color: #f03e44;
    height: 2em;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    font-size: large;
    font-weight: 500;
}
.form-label{
    color: #ee6e73;
}
/****contact styles end******/

/*****footer styles****/
footer{
    background-color: black;
    text-align: center;
    color: white;
}