**{
    box-sizing: border-box;
}
body{
    background-color:#2ecc71;
}
.success{
    height: 100vh;
}
.success-msg{
    color: white;
    font-style: italic;
    text-align: center;
}
#success-gif{
    margin-left: 25%;
}